#SQL Basics

1.

   - CREATE DATABASE company_db;

   - USE company_db;

   - CREATE TABLE employees (employee_id INT PRIMARY KEY, frist_name VARCHAR(50), last_name VARCHAR(50), department VARCHAR(50), salary INT, hire_date DATE);

2.

   - INSERT INTO employees VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');

3.

  - SELECT *

  - FROM employees

  - ORDER BY salary ASC;

4.

   - SELECT *

   - FROM employees

   - ORDER BY department ASC, salary DESC;

5.

   - SELECT *

   - FROM employees

   - WHERE department = 'IT'

   - ORDER BY hire_date DESC;

6.

  - CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

  -  INSERT INTO sales VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

7.

   - SELECT *
FROM sales
ORDER BY amount DESC;

8.

   - SELECT *
FROM sales
WHERE customer_name = 'Aditi';

9.

   - A Primary key uniquely identifies each record in a table and cannot contain NULL values.

   - A Foreign Key is used to link one table to another and refers to the primary key of another table.

10.

   - Constraints are rules applied to table columns to maintain data accuracy and integrity.

   - Examples include PRIMARY KEY, NOT NULL, UNIQUE, CHECK and FOREIGN KEY.